<div class="hull-social {{classes}}">
  <div class="hull-error-container"></div>

  {{#if showLoader}}
    <button class="hull-loader">
      Loading...
    </button>
  {{/if}}

  <div class="hull-social-container">
    {{#if loggedIn}}
      {{#if showSignOut}}
        <a href="#" data-hull-action="_logout">Sign Out</a>
      {{/if}}

      {{#if showLinkIdentity}}
        {{#each providers}}
          {{#if this.linked}}
            {{#if this.isUnlinkable}}
              <button class="hull-btn hull-btn-{{@key}}" data-hull-action="_unlinkIdentity" data-hull-provider="{{@key}}">
                <i class="hull-icon hull-icon-{{@key}}"></i> {{this.messages.unlinkMessage}}
              </button>
            {{/if}}
          {{else}}
            <button class="hull-btn hull-btn-{{@key}}" data-hull-action="_linkIdentity" data-hull-provider="{{@key}}">
              <i class="hull-icon hull-icon-{{@key}}"></i> {{this.messages.linkMessage}}
            </button>
          {{/if}}
        {{/each}}
      {{/if}}
    {{else}}
      {{#each providers}}
        <button class="hull-btn hull-btn-{{@key}}" data-hull-action="_login" data-hull-provider="{{@key}}">
          <i class="hull-icon hull-icon-{{@key}}"></i> {{this.messages.signInMessage}}
        </button>
      {{/each}}
    {{/if}}
  </div>
</div>
