<div class="hull-social {{classes}}">
  {{#if matchingProviders}}
    <a href="#" data-hull-action="logout">Sign Out</a>
  {{else}}
    {{#if loggedOut}}
      {{#loggedOut}}
        <button data-hull-action="login" data-hull-provider="{{.}}" class="hull-btn hull-btn-{{.}}">
          <i class="hull-icon hull-icon-{{.}}"></i>
        </button>
      {{/loggedOut}}
    {{/if}}
  {{/if}}
</div>
