{{#if doc}}
  {{#doc}}
    <h1>{{name}}</h1>
    {{{description}}}

    <h2>Models</h2>

    {{#each models}}
    <h4>{{id}}</h4>
    <table>
      <thead>
        <tr>
          <th>Field Name</th>
          <th>Returns</th>
        </tr>
      </thead>
      <tbody>
      {{#properties}}
      <tr>
        <td><code>{{name}}</code></td>
        <td>{{type}}</td>
      </tr>
      {{/properties}}
      </tbody>
    </table>
    {{/each}}

    <h2>Routes</h2>

    {{#apis}}
    {{#operations}}
    <div>
      <h5 class="bordered">{{{summary}}}</h5>
      <div class="l-label">
        <span class='l-label-lb {{httpMethod}}'>{{httpMethod}}</span>
        <span class="l-label-title">{{../path}}</span>
      </div>
      {{#if parameters}}
      <h6>Params</h6>
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Required</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {{#parameters}}
        <tr>
          <td><code>{{name}}</code></td>
          <td>{{required}}</td>
          <td>{{dataType}}</td>
          <td>{{description}}</td>
        </tr>
        {{/parameters}}
        </tbody>
      </table>
      {{/if}}

    </div>
    {{/operations}}
    {{/apis}}
    {{/doc}}


    {{^doc}}
    <h3>Select a api doc to inspect</h3>
    {{#all}}
    {{#apis}}
      <h2 data-hull-action="showDetails" data-hull-api="{{name}}">{{humanize name}}</h2>
      {{{description}}}
    {{/apis}}
    {{/all}}
    {{/doc}}


{{else}}
  {{#all.apis}}
  <h2 data-hull-action='showDetails' data-hull-api='{{name}}'>{{name}} : {{path}}</h2>
  {{{description}}}
  {{/all.apis}}
{{/if}}