<div class="hull-comments">

  <div class="well hull-comments__form">
    {{#if loggedIn}}
      <textarea class="input-block-level" rows="3" placeholder="Write something..."></textarea>
      <button data-hull-action="comment" class="btn btn-primary">Post</button>
    {{else}}
      <div data-hull-widget="identity@hull"></div>
    {{/if}}
  </div>


  {{#if comments}}
    <ul class="media-list hull-comments__list">
      {{#comments}}
        <li class="media">
          <div class="pull-left">
            <img class="media-object img-round" src="{{user.picture}}" alt="{{user.name}}">
          </div>
          <div class="media-body">
            <small class="pull-right muted">{{fromNow updated_at}}</small>
            <h4 class="media-heading">{{user.name}}</h4>
            <div class="hull-comments__description">
              {{description}}
            </div>
          </div>
        </li>
      {{/comments}}
    </ul>
  {{/if}}

  {{^comments}}
    <div class="alert alert-info">
      oops... no comments for the moment
    </div>
  {{/comments}}
</div>