<table class="table">
  <tr>
    <th>Picture</th>
    <th>Name</th>
    <th>Signed up</th>
    <th>Accounts</th>
    <th>Profile</th>
    <th>Sign in count</th>
  </tr>
  {{#each userProfiles}}
  <tr>
    <td>
      <a data-hull-action="selectUser" data-hull-user-id="{{user.id}}">
        <img src='{{user.picture}}' width='50' height='50' />
      </a>
    </td>
    <td>{{user.name}}</td>
    <td>{{fromNow created_at}}</td>
    <td>
      {{#each user.identities}}{{type}}{{/each}}
    </td>
    <td>
      {{#if user.profile}}
        <dl>
          {{#key_value user.profile}}
            <dt>{{key}}</dt>
            <dd>{{value}}</dd>
          {{/key_value}}
        </dl>
      {{/if}}
    </td>
    <td>{{user.stats.sign_in_count}}</td>
  </tr>
  {{/each}}
</table>

<div>
  <button data-hull-action='previousPage' class="btn">← Prev</button>
  <button data-hull-action='nextPage' class="btn">Next →</button>
</div>
