{{#each buttons}}
  <a class='btn btn-small btn-{{name}}' href="{{link}}" target='_blank' data-hull-action='share' title="Share on {{name}}">
  <i class='icon icon-{{name}}'></i>
  {{capitalize name}}
  </a>
{{/each}}
