<div class="hull-quiz hull-quiz__question">

  <div class="hull-quiz__header">
    <h1 class="hull-quiz__title">{{quiz.name}}</h1>
    <p class="hull-quiz__description">{{quiz.description}}</p>
  </div>

  <div class="hull-quiz__current hull-quiz__current--{{current.index}}">
      <div class="hull-quiz__current__header">
        <h4 class="hull-quiz__current__title">
          <strong>Question {{current.indexDisplayable}}</strong> <span>of {{quiz.questions.length}}</span>
        </h4>
      </div>

    {{#current}}
        {{#question}}
          <h4 class="hull-quiz__question__name">{{name}}</h4>
          <h5 class="hull-quiz__question__description">{{description}}</h5>
          <ol class="hull-quiz__current__questions">
              {{#answers}}
              <li>
                <span class="hull-btn" data-hull-action="answerAndNext"
                    data-hull-answer-id="{{id}}"
                    data-hull-question-id="{{../id}}">
                      {{name}}
                </span>
              </li>
              {{/answers}}
          </ol>
        {{/question}}

      <div class="hull-pager">
        <div class="hull-pager__content">
          {{#if previous}}
            <button data-hull-action="previous" class="hull-btn">&larr; Previous</button>
          {{/if}}

          {{#if next}}
            <button data-hull-action="next" class="hull-btn">Next &rarr;</button>
          {{else}}
            <button data-hull-action="submit" class="hull-btn">Submit</button>
          {{/if}}
        </div>
      </div>

    {{/current}}
  </div>
</div>