{{#quiz}}
<h1>{{name}}</h1>
<p>{{description}}</p>
{{/quiz}}
{{#current}}
{{#question}}
<div>
  <h3>{{name}}</h3>
  <p>{{description}}</p>
  <div>
    {{#answers}}
    <button data-hull-action="answerAndNext"
            data-hull-answer-id="{{id}}"
            data-hull-question-id="{{../id}}"
    >{{name}}</button>
    {{/answers}}
  </div>
</div>
{{/question}}

<div>
{{#if previous}}
<button data-hull-action="previous">&larr; Previous</button>
{{/if}}

Current: {{index}}

{{#if next}}
<button data-hull-action="next">Next &rarr;</button>
{{else}}
<button data-hull-action="submit">Submit</button>
{{/if}}
</div>

{{/current}}
