{{#if loggedIn}}
<ul>
  {{#authServices}}
  <li>
    {{name}}
    {{#if availableAction}}
      <button data-hull-action="{{availableAction}}" data-hull-provider="{{name}}" class="btn">
        {{availableAction}}
      </button>
    {{/if}}
  </li>
  {{/authServices}}
  <li>
    <button data-hull-action="logout" class="btn">
      Logout
    </button>
  </li>
</ul>
{{else}}
<div data-hull-widget="login_button@hull"></div>
{{/if}}
