{{#dox}}
  <div class="dox">
    {{#widget}}
      {{#unless ignore}}
        <div class="block">
          {{#name}}
            <h3>{{string}}</h3>
          {{/name}}
          {{#description}}
            {{{full}}}
          {{/description}}
          {{#if tags}}
          <table>
            <thead>
              <tr>
                <th>Parameters</th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {{#tags}}
                <tr>
                  <td><code>{{name}}</code></td>
                  <td>{{#types}}<code>{{this}}</code>{{/types}}</td>
                  <td>{{description}}</td>
                </tr>
              {{/tags}}
            </tbody>
          </table>
          {{/if}}
        </div>
      {{/unless}}
    {{/widget}}

    {{#each templates}}
      <div class="template">
        <dl>
          <dt>Template path:</dt>
          <dd><code>{{path}}</code></dd>
        </dl>
        <pre class="language-markup"><code>{{content}}</code></pre>
      </div>
    {{/each}}
  </div>
{{/dox}}
