{{#isAdmin}}
  <div class="well">
    <h2>Flagged content for <strong>{{app.name}}</strong></h2>
    <table class="table">
      <thead>
        <tr>
          <td>Type</td>
          <td>Creator</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        {{#each flags}}
          <tr>
            <td><h6>{{type}}</h6></td>
            <td>
              <h6>{{user.name}} ({{user.email}})</h6>
              <blockquote>
                {{description}}
              </blockquote>
            </td>
            <td>
              <a class="btn btn-mini" data-hull-id="{{id}}" data-hull-action="unflag">Unflag</a>
              <a class="btn btn-mini btn-danger"  data-hull-id="{{id}}" data-hull-action="delete">Delete</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/isAdmin}}
{{^isAdmin}}
  You need to be an administrator of the current app to view this component
{{/isAdmin}}
