{{!
{
  "name" : "registration_form",
  "description" : "a registration form",
  "styles" : ["registration/style"]
}
}}

<div class="registration">
  <form>

    {{#fields}}
    <div class="field {{name}}">
        <label for="{{name}}">{{label}}</label>

        {{#ifEqual type "text"}}

            <input
              class="{{type}} h5-{{name}}"
              type="{{type}}"
              id="{{name}}"
              name="{{name}}"
              value="{{value}}"

              {{#placeholder}}placeholder="{{placeholder}}"{{/placeholder}}
              {{#pattern}}pattern="{{pattern}}"{{/pattern}}
              {{#required}}required{{/required}}

              data-h5-errorid="{{name}}_error"
            />

        {{/ifEqual}}

        {{#ifEqual type "checkbox"}}
            <input
              class="{{type}} h5-{{name}}"
              type="{{type}}"
              id="{{name}}"
              name="{{name}}"
              {{#ifEqual value "true"}}checked{{/ifEqual}}
              placeholder="{{placeholder}}"
              {{#required}}required{{/required}}
              data-h5-errorid="{{name}}_error"
            />

        {{/ifEqual}}

        {{#ifEqual type "select"}}
            <select
            class='{{type}} h5-{{name}}'
            type="{{type}}"
            id="{{name}}"
            name="{{name}}"
            {{#required}}required{{/required}}
            data-h5-errorid="{{name}}_error">
              {{#options}}
                  <option
                    label="{{label}}"
                    value="{{value}}"
                    {{#ifEqual ../value value}}selected{{/ifEqual}}
                  >{{value}}</option>
              {{/options}}
            </select>
        {{/ifEqual}}

        <div id="{{name}}_error" class='error' for="{{name}}">{{error}}</div>
    </div>

    {{/fields}}

    <div class="field">
      <input type='submit' data-hull-action="submit" value="Valider" />
    </div>
  </form>
</div>
