  <h4>{{target.uid}}</h4>
  {{#if loggedIn}}
    <div class='btn-group'>
      <button class="btn btn-tiny {{outputIf myVote 1 'btn-success'}} dropup" data-hull-action='{{outputIf myVote 1 'unvote' 'upvote'}}'><span class='caret'></span></button>
      <button class="btn btn-tiny {{outputIf myVote -1 'btn-success'}} dropdown" data-hull-action='{{outputIf myVote -1 'unvote' 'downvote'}}'><span class='caret'></span></button>
    </div>
  {{else}}
    <div data-hull-component="login_button@hull"></div>
  {{/if}}
  <small class='result'>▲{{votes.up}}</small>
  <small class='result'>▼{{votes.down}}</small>
