<div class="hull-instant hull-instant--intro">
  <h1 class="hull-instant__title">{{achievement.name}}</h1>
  <p class="hull-instant__description">{{achievement.description}}</p>
  {{#if loggedIn}}
    <button class="hull-btn" data-hull-action="play">Play</button>
  {{else}}
    {{#each authProviders}}
      <button class="hull-btn" data-hull-action="play" data-hull-provider={{this}}>Login with with {{this}} and play.</button>
    {{/each}}
  {{/if}}
</div>
