{{#if matchingProviders}}
  <div class="hull-identity__signout align-center">
    {{#me}}
    {{#if picture}}<img class="img-rounded" src="{{picture}}" alt="{{me.name}}">{{/if}}
    <h1> {{name}} </h1>
    {{#if description}}
      <p>{{description}}</p>
    {{/if}}
    <hr>
    {{/me}}
    <button data-hull-action="logout" class="btn btn-small btn-link">
      Sign Out
    </button>
    <p>
      <small>
        Logged in with {{join loggedInProviders}}
      </small>
    </p>
  </div>
{{else}}
  {{#if loggedOut}}
    <div class="hull-identity__signin">
      {{#loggedOut}}
        <button data-hull-action="login" data-hull-provider="{{.}}" class="btn btn-{{.}}">
          Sign In with {{classify .}}
        </button>
      {{/loggedOut}}
    </div>
  {{/if}}
  {{^authServices}}
    {{#if debug}}
      <div class="alert">
        <h4>Warning!</h4>
        No Auth Services configured, please add at least one in the admin.
      </div>
    {{/if}}
  {{/authServices}}
{{/if}}
