{{#if loggedIn}}
  <div class="hull-media hull-idendity">
     <img src="{{me.picture}}" alt="{{me.name}}" class="hull-media__img">
     <div class="hull-media__body">
       <h1 class="hull-identity__name">{{me.name}}</h1>
       <p class="hull-identity__description">{{me.description}}</p>
       <hr class="hull-rule">
        <button data-hull-action="logout" class="hull-btn">Logout</button>
     </div>
  </div>
{{else}}
  {{#authServices}}
  <button data-hull-action="login" data-hull-provider="{{.}}" class="hull-btn">
    Sign In with {{classify .}}
  </button>
  {{/authServices}}

  {{^authServices}}
  {{#if debug}}
    No Auth Services configured, please add at least one in the admin.
  {{/if}}
  {{/authServices}}
{{/if}}
