{{#if matchingProviders}}
  <div class="hull-identity__signout media">
    <div class="pull-left">
      <img class="media-object img-rounded" src="{{me.picture}}" alt="{{me.name}}">
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        {{me.name}}
      </h4>
      <button data-hull-action="logout" class="btn btn-small btn-link">
        Sign Out
      </button>
      <p>{{me.description}}</p>
      <p>
        Logged in with
        {{join loggedInProviders}}
      </p>
    </div>
  </div>
{{else}}
  {{#if loggedOut}}
    <div class="hull-identity__signin">
        {{#loggedOut}}
          <button data-hull-action="login" data-hull-provider="{{.}}" class="btn">
            Sign In with {{classify .}}
          </button>
        {{/loggedOut}}
      </div>
  {{/if}}
  {{^authServices}}
    {{#if debug}}
      <div class="alert">
        <h4>Warning!</h4>
        No Auth Services configured, please add at least one in the admin.
      </div>
    {{/if}}
  {{/authServices}}
{{/if}}
