{{#if isListed}}
  <button class="btn" data-hull-action="removeFromList">Remove {{obj.name}} from {{list.name}}</button>
{{else}}
  <button class="btn" data-hull-action="addToList">Add {{obj.name}} to {{list.name}}</button>
{{/if}}
