{{#if isListed}}
<button data-hull-action='removeFromList'>Remove {{obj.name}} from {{list.name}}</button>
{{else}}
<button data-hull-action='addToList'>Add {{obj.name}} to {{list.name}}</button>
{{/if}}
