{{#if loggedIn}}
  {{#if isListed}}
    <button class="btn" data-hull-action="removeFromList">Remove {{objName}} from {{listName}}</button>
  {{else}}
    <button class="btn" data-hull-action="addToList">Add {{objName}} to {{listName}}</button>
  {{/if}}
{{else}}
  <div data-hull-widget="login_button@hull"></div>
{{/if}}

