{{#user}}
  <div class="page-header media">
    <div class="pull-left">
      <img src="{{picture}}" width="50" height="50"/>
    </div>
    <h4>{{name}}</h4>
  </div>
  <div class="admin-infos">
    <dl>
      <dt>Email:</dt>
      <dd>{{email}}</dd>

      <dt>Signed up:</dt>
      <dd>{{fromNow created_at}}</dd>
    </dl>
    <hr/>
    <h4>Identities</h4>
    <ul class="unstyled">
      {{#identities}}
      <li> <i class="icon-{{type}}"></i> {{name}} <small>{{fromNow created_at}}</small>
      </li>
      {{/identities}}
    </ul>
  </div>
{{/user}}
{{^user}}
  <div class="admin-empty text-center">
    <div class="admin-empty-wrapper">
      <span class="admin-empty-icon">&#9785;</span>
      <h4>User not found</h4>
    </div>
  </div>
{{/user}}
