{{#if loggedIn}}
  <h1>My lists....</h1>
  {{#lists}}
    <h3>{{name}}</h3>
    <ul>
    {{#items}}
      <li>
        [{{type}}] {{name}} {{description}}
      </li>
    {{/items}}
    {{^items}}
      <li>
        Empty Collection
      </li>
    {{/items}}
    </ul>
  {{/lists}}

  <h1>Create a new List</h1>
  <form>
    <p>
      Name:
      <input type="text" name="name">
    </p>
    <p>
      Description:
      <input type="text" name="description">
    </p>
    <input type="submit" name="Create my collection">
  </form>

{{else}}
  Connect to view your lists...
{{/if}}
