<div class="hull-quiz hull-quiz__question">
  <div class="page-header">
    <h1>{{quiz.name}}</h1>
    <p class="lead">{{quiz.description}}</p>
  </div>

  <div class="hull-quiz__question--{{current.index}}">
    <h5>
      Question {{current.indexDisplayable}} <span class="muted">of {{quiz.questions.length}}</span>
    </h5>

    {{#current}}
        {{#question}}
          <h3>{{name}}</h3>
          <p>{{description}}</p>
          <ol>
              {{#answers}}
              <li>
                <div data-hull-action="answerAndNext"
                    data-hull-answer-id="{{id}}"
                    data-hull-question-id="{{../id}}">
                {{> quiz.quiz_answer}}
                </div>
              </li>
              {{/answers}}
          </ol>
        {{/question}}

      <ul class="pager">
        {{#if previous}}
          <li>
            <a href="#" data-hull-action="previous">Previous</a>
          </li>
        {{/if}}

        {{#if next}}
          <li>
            <a href="#" data-hull-action="next">Next</a>
          </li>
        {{else}}
          <li>
            <a href="#" data-hull-action="submit">Submit</a>
          </li>
        {{/if}}
      </ul>

    {{/current}}
  </div>
</div>
