<div class='btn-group'>
  <button class="btn btn-small {{outputIf myVote 1 'btn-success'}} dropup" {{#unless loggedIn}}disabled{{/unless}} data-hull-action='{{outputIf myVote 1 'unvote' 'upvote'}}'><span class='caret'></span>&nbsp;{{votes.up}}</button>
  <button class="btn btn-small {{outputIf myVote -1 'btn-success'}} dropdown" {{#unless loggedIn}}disabled{{/unless}} data-hull-action='{{outputIf myVote -1 'unvote' 'downvote'}}'><span class='caret'></span>&nbsp;{{votes.down}}</button>
</div>
{{#unless loggedIn}}
  <div data-hull-component="login/button@hull"></div>
{{/unless}}
