{{#if loggedIn}}
  <div class='btn-group'>
    <button class='btn btn-tiny {{#ifEqual vote.rating 1}}  btn-success {{/ifEqual}}dropup' data-hull-action='{{#ifEqual vote.rating 1}}unvote{{else}}upvote{{/ifEqual}}'><span class='caret'></span></button>
    <button class='btn btn-tiny {{#ifEqual vote.rating -1}} btn-success {{/ifEqual}}dropdown' data-hull-action='{{#ifEqual vote.rating -1}}unvote{{else}}downvote{{/ifEqual}}'><span class='caret'></span></button>
  </div>
  <small class='result'>▲{{split.yes}}</small>
  <small class='result'>▼{{split.no}}</small>
{{else}}
  <div data-hull-widget="login_button@hull"></div>
{{/if}}
