<h1>({{renderCount}}) Reviewable: {{reviewable.name}}</h1>
<div data-hull-widget="identity"></div>
{{#reviewable}}
{{#if ../loggedIn}}
<select>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
<textarea></textarea>
<button data-hull-action="review">Send</button>
{{else}}
<button data-hull-action="login" data-hull-provider="facebook">Login first</button>
{{/if}}
<ul>
{{/reviewable}}
{{#reviews}}
<li>[{{rating}}] {{name}}, {{description}} (by {{user.name}})</li>
{{/reviews}}
{{^reviews}}
oops... no reviews for the moment
{{/reviews}}
</ul>

