<div class="hull-conversations-admin">
  <table class="table table-hover">
    <tr>
      <th>Subject</th>
      <th>Message Count</th>
      <th>Participants</th>
      <th>Last updated</th>
    </tr>
    {{#if conversations}}
      {{#conversations}}
        <tr class="conversation">
          <td>{{name}}</td>
          <td>{{messages_count}}</td>
          <td>
            <ul>
            {{#participants}}
              <li>{{name}}</li>
            {{/participants}}
            </ul>
          </td>
          <td>{{updated_at}}</td>
        </tr>
      {{/conversations}}
    {{else}}
      <tr>
        <td colspan="4">
          {{#if errors.conversations}}
            <span class="text-error">Unable to retrieve the conversations.</span>
          {{else}}
            No conversations
          {{/if}}
        </td>
      </tr>
    {{/if}}
  </table>
</div>

