
<div class="hull-conversations">
  <header>{{subject_name}}</header>
  {{#if conversations}}
    <table class="table table-hover">
      <tr>
        <th>Title</th>
        <th>Message Count</th>
        <th>Participants</th>
        <th>Last updated</th>
      </tr>
      {{#conversations}}
        <tr class="conversation" data-hull-action="pickConvo" data-hull-id="{{id}}">
          <td>{{name}}</td>
          <td>{{messages_count}}</td>
          <td>
            <ul>
            {{#participants}}
              <li>{{name}}</li>
            {{/participants}}
            </ul>
          </td>
          <td>{{formatTime updated_at 'h:mm a'}}</td>
        </tr>
      {{/conversations}}
    {{else}}
      <tr>
        <td colspan="4">
          {{#if errors.conversations}}
            <div class="alert alert-error">
              Unable to retrieve the conversations.
            </div>
          {{else}}
            <div class="conversations-empty">No conversations started yet</div>
          {{/if}}
        </td>
      </tr>
    {{/if}}
  </table>
</div>

