<ul class="hull-activity media-list">
  {{#each activities}}
    <li class="media hull-activity__{{verb}}">
      {{#if actor.picture}}
        <div class="pull-left">
          <img class="media-object img-rounded" src="{{actor.picture}}"/>
        </div>
      {{/if}}
      
      <div class="media-body">
        <strong class="media-heading">
          {{actor.name}} {{activity ../map this}} {{object.name}} {{named target}}
        </strong>
        {{#if object.description}}
          <p>{{object.description}}</p>
        {{/if}}
        {{#ifEqual object.type "image"}}
          <img src="{{imageUrl object.id "original"}}"/>
        {{/ifEqual}}
        <p class="muted">{{fromNow published}}</p>
      </div>
      </div>
    </li>
  {{/each}}
  {{#unless activities}}
    <li>
      <div class="alert">No activity</div>
    </li>
  {{/unless}}
</ul>


{{#if isPaged}}
  <ul class="pager">
    <li class="previous">
      <a href="#" data-hull-action="previousPage">&larr; Previous</a>
    </li>
    <li class="next">
      <a href="#" d data-hull-action="nextPage">Next &rarr;</a>
    </li>
  </ul>
{{else}}
  <button data-hull-action="fetchMore" class="btn btn-block">Fetch more...</button>
{{/if}}

