{{> comments/list/form}}

{{#if comments}}
  <ul class="media-list hull-comments__list">
    {{#comments}}
      <li class="media" data-hull-comment-id="{{id}}">
        <div class="pull-left">
          <img class="media-object img-rounded" src="{{user.picture}}" alt="{{user.name}}" width="50" height="50">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{user.name}} <small class="muted"> • {{fromNow updated_at}}</small></h4>
          <div class="hull-comments__description">
            {{description}}
          </div>
          <div class="hull-comments__actions">
              {{#if isDeletable}}
                <small>
                  <a href="#" class='link' data-hull-action="delete" data-hull-id="{{id}}">Delete</a>
                </small>
              {{/if}}
              <small>
                <a href="#" class='link text-error' data-hull-action="flag" data-hull-id="{{id}}">Inappropriate?</a>
              </small>
          </div>
        </div>
      </li>
    {{/comments}}
  </ul>
{{/if}}

{{^comments}}
  <div class="alert alert-info">
    No comments for the moment
  </div>
{{/comments}}
