{{#if errors.conversation}}
  <div class="alert alert-error">
    Unable to retrieve the participants for this conversation
  </div>
{{else}}
  
  <div class="page-header">
    {{#if conversation.public}}
      {{#if isFollowing}}
        <a href="#" class="link pull-right" data-hull-action="unfollow">Following</a>
      {{else}}
        <a href="#" class="link pull-right" data-hull-action="follow">Follow</a>
      {{/if}}
    {{/if}}
    <h2>{{conversation.name}}</h2>
  </div>

  {{#if conversation.participants}}
    <ul class="media-list">
      {{#conversation.participants}}
        <li class="media">
          <div class="pull-left">
            <img class="media-object img-rounded" src="{{picture}}" alt="{{name}}">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{name}}</h4>
          </div>
        </li>
      {{/conversation.participants}}
    </ul>
  {{/if}}

{{/if}}
