<table class="table">
  <thead>
    <tr>
      <td>Object type</td>
      <td>Object creator</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    {{#each flags}}
      <tr>
        <td>{{type}}</td>
        <td>{{user.name}} ({{user.email}})</td>
        <td>
          <a class="btn" data-hull-id="{{id}}" data-hull-action="unflag">Unflag</a>
          <a class="btn btn-danger"  data-hull-id="{{id}}" data-hull-action="delete">Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
