<form id="hull-quiz_admin__form" class="hull-form hull-quiz_admin__form">

  <div class="hull-quiz_admin__header">
    <h1 class="hull-quiz_admin__title">
      {{quiz.name}}
    </h1>
    <p class="hull-quiz_admin__description">
      {{quiz.description}}
    </p>
    <div class="hull-quiz_admin__help">
      <h3 class="hull-quiz_admin__title">Paste this in your page to instantiate your quiz.</h3>
      <pre class="hull-quiz_admin__code">&lt;!-- Quiz:  {{quiz.name}} --&gt;
    &lt;div data-hull-widget=&quot;quiz@hull&quot; data-hull-id=&quot;{{quiz.id}}&quot;&gt;&lt;/div&gt;</pre>
    </div>
  </div>


  <form>
    <fieldset>
      <legend>Edit your quiz</legend>
      <label for="hull-quiz-json" class="hull-form__label">JSON data:</label>
      <textarea data-hull-item="quiz-json" rows="20" placeholder="Enter your JSON here">{{quiz.json}}</textarea>

      <button data-hull-action="submit" class="btn btn-primary hull-btn">Save</button>
      <button data-hull-action="cancel" class="btn hull-btn">Cancel</button>
      <button data-hull-action="delete" class="btn btn-danger hull-btn">Delete quiz</button>
    </fieldset>

  </form>

</form>

