<h1>{{quiz.name}}</h1>
<p>{{quiz.description}}</p>

{{#quiz}}
<form class="form">
  <fieldset>
    <input type="text" class="input-block-level" name="name" value="{{name}}" placeholder="Name" />
    <textarea class="input-block-level" placeholder="Description">{{description}}</textarea>
  </fieldset>

  <ul class="unstyled">
  {{#each questions}}
  <li>
    <h3>
      <span class="pull-right">
        <a class="btn btn-danger" data-hull-action="deleteQuestion" data-hull-id="{{id}}">
          <i class="icon-trash"></i>
          Delete
        </a>
      </span>
      Question {{@index}}
    </h3>
    <input type="text" class="input-block-level" name="questions[{{../id}}-{{@index}}][name]" value="{{name}}" placeholder="Type a Question...">
    <textarea class="input-block-level" name="questions[{{../id}}-{{@index}}][description]" placeholder="A Description for your Question">{{description}}</textarea>
    <h5>Answers</h5>
    <hr>
    <ul class="unstyled">
    {{#each answers}}
      <li>
        <input type="text" class="input-large" name="questions[{{@index}}][answers][{{@index}}][name]" value="{{name}}" placeholder="Type an Answer...">
        <input type="text" class="input-small" name="questions[{{@index}}][answers][{{@index}}][weight]" value="{{weight}}" placeholder="Weight">
      </li>
    {{/each}}
      <li>
        <a data-hull-action="addAnswer" data-hull-question-id="{{../id}}" class="btn">
          <i class="icon-plus"></i>
          Add a Answer
        </a>
      </li>
    </ul>
  </li>
  {{/each}}
  <li>
    <a data-hull-action="addQuestion" class="btn">
      <i class="icon-plus"></i>
      Add a Question
    </a>
  </li>
</ul>
<input type="submit" value="Submit" class="btn btn-primary btn-block" />
</form>
{{/quiz}}
