<span class="ratings ratings-{{average}}">
  {{#each ratings}}
    {{#if ../loggedIn}}
      <a href="#" class="rating {{outputIf active false 'muted' ''}} rating-{{value}}" data-hull-action="rate" data-hull-rating="{{value}}">&#9733;</a>
    {{else}}
      <span class="rating {{outputIf active false 'muted'}} rating-{{value}}">&#9733;</span>
    {{/if}}
  {{/each}}
  ({{fallback target.stats.reviews.count 0}})
</span>
