{{#if loggedIn}}
  <p class="text-center">
    Welcome
    {{#if me.name}} {{me.name}} {{ else }} {{me.email}} {{/if}}
  </p>
  <a class="bootstrap btn btn-secondary btn-large btn-block" data-hull-action="doBootstrap">Start using Hull</a>
  <a class="btn btn-link" data-hull-action="logoutAndShowLogin">Want to use another account?</a>
{{else}}
  <div data-hull-component="login/profile@hull"></div>
  <div class="or-separator">
    <span>or</span>
  </div>
  {{#if errors.length}}
  <div class="alert alert-danger errors">
    {{#errors}}
      {{.}}
    {{/errors}}
  </div>
  {{/if}}
  <form action="#">
    <div class="control-group email required">
      <div class="controls">
        <input autofocus="autofocus" class="string email required input-block-level" type="email" name="email" id="email" placeholder="Email address" size="50" value="">
      </div>
    </div>
    <div class="control-group password optional">
      <div class="controls">
        <input class="password optional input-block-level" type="password" name="password" id="password" placeholder="Password" size="50">
      </div>
    </div>
    <div class="control-group">
      {{#if wantsSignup}}
        <input class="btn btn btn-secondary btn-large btn-block" data-hull-action="doSignup" type="submit" name="submit" id="submit" value="Signup">
      {{else}}
        <input class="btn btn btn-secondary btn-large btn-block" data-hull-action="doLogin"  type="submit" name="submit" id="submit" value="Login">
      {{/if}}
    </div>
  </form>
  {{#unless wantsSignup}}
    <a class="btn btn-link" data-hull-action="showSignup">No Account? Signup here</a>
    <a class="btn btn-link pull-right" data-hull-action="toggleTemplate" data-hull-template="recover">Password lost ?</a>
  {{else}}
    <a class="btn btn-link" data-hull-action="showLogin">Already Signed up? Login here</a>
  {{/unless}}
{{/if}}
