{{#if loggedIn}}
  {{#if isListed}}
    <button class="btn" data-hull-action="removeFromList">Remove {{target.name}} from {{list.name}}</button>
  {{else}}
    <button class="btn" data-hull-action="addToList">Add {{target.name}} to {{list.name}}</button>
  {{/if}}
{{else}}
  <div data-hull-component="login_button@hull"></div>
{{/if}}
