<div class="hull-conversation">
  <div class="hull-conversation__header">
    <h1>Conversation: {{conversation.name}}</h1>
    <div>You have {{conversation.messages_count_unread}} NEW messages and {{conversation.messages_count}} total messages.</div>
  </div>
  
  <div class="row-fluid">
    <div class="span7">
      <div class="well hull-conversation__form">
        {{#if loggedIn}}
          <form>
            <div class='media' data-hull-conversation-id="{{conversation.id}}">
              <div class="pull-left">
                <img class="media-object img-rounded" src="{{me.picture}}" alt="{{me.name}}">
              </div>
              <div class="media-body">
                <textarea name='description' class="input-block-level" rows="3" placeholder="Send a message... "></textarea>
                <button data-hull-action="message" class="btn btn-primary">Send</button>
                <div class='pull-right'>
                  <a href="#" data-hull-action="logout" class="link">Logout</a>
                </div>
              </div>
            </div>
          </form>
        {{else}}
          <div data-hull-widget="login_button@hull"></div>
        {{/if}}
      </div>
      
      {{#if messages}}
        <ul class="media-list hull-messages__list">
          {{#messages}}
            <li class="media" data-hull-message-id="{{id}}">
              <div class="pull-left">
                <img class="media-object img-rounded" src="{{sender.picture}}" alt="{{sender.name}}">
              </div>
              <div class="media-body">
                <div class="pull-right">
                  <small class="muted">{{fromNow updated_at}}</small>
                </div>
                <h4 class="media-heading">
                  {{sender.name}} 
                  {{#if isNew}}
                      <small class="text-success">NEW!</small>
                    {{/if}}
                </h4>
                <div class="hull-messages__description">
                  {{body}}
                </div>
                <div class="hull-messages__actions">
                    {{#if isDeletable}}
                      <small>
                        <a href="#" class='link' data-hull-action="deleteMsg" data-hull-id="{{id}}">Delete</a>
                      </small>
                    {{/if}}
                </div>
              </div>
            </li>
          {{/messages}}
        </ul>
      {{/if}}

      {{^messages}}
        <div class="alert alert-info">
          No messages started yet
        </div>
      {{/messages}}
    </div>
    
    {{>conversation/participants}}
  </div>
</div>