{{#user}}
  <h1>Hey, I am {{name}} {{email}}</h1>
  <small>I signed up {{fromNow created_at}}</small>

  <h3>My Identities</h3>
  <ul>
    {{#identities}}
    <li>
      {{type}}: {{name}} ({{created_at}})
    </li>
    {{/identities}}
  </ul>

{{/user}}
