<div class="btn-group pull-right">
  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
    Sort by <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#" data-hull-action="sort" data-hull-field="created_at" data-hull-direction="desc">Created At</a></li>
    <li><a href="#" data-hull-action="sort" data-hull-field="name">Name</a></li>
    <li><a href="#" data-hull-action="sort" data-hull-field="email">Email</a></li>
    <li><a href="#" data-hull-action="sort" data-hull-field="stats.sign_in_count" data-hull-direction="desc">Sign In Count</a></li>
  </ul>
</div>

{{#unless org.public}}
  <div class="btn-group pull-right users-filters" data-toggle="buttons-radio">
    {{#each filters}}
      <button type="button" class="btn btn-small {{#if isActive}}active{{/if}}" data-hull-action="{{action}}">{{@key}}</button>
    {{/each}}
  </div>
{{/unless}}

<form class="form form-search js-hull-users-search">
  <div class="input-append">
    <input type="text" class="js-hull-users-search-query" placeholder="Search by email" value="{{currentQuery.email}}">
    <button type="submit" class="btn squared">Search</button>
    {{#if currentQuery.email}}
      <a href="#" data-hull-action="resetSearch" class="btn btn-link">
        <i class="icon-error"></i>
        Clear
      </a>
    {{/if}}
  </div>
</form>

<table class="userlist table table-hover">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Signed in since</th>
      <th>Visits</th>
      <th>Login providers</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#if users}}
      {{#each users}}
        <tr>
          <td>
            <div data-hull-component="admin/user_avatar@hull" data-hull-avatar="{{picture}}"></div>
          </td>
          <td>
            {{#if name}}
              <span class="name">{{name}}</span>
              {{#if email}}<div><small class="email"><a href="mailto:{{email}}">{{email}}</a></small></div> {{/if}}
            {{else}}
            <span class="name"><a href="mailto:{{email}}">{{email}}</a></span>
            {{/if}}
          </td>
          <td>
            Signed up
            <strong>{{fromNow created_at}}</strong>
          </td>
          <td>
            {{#stats}}
              {{#if sign_in_count}}
                <strong>{{sign_in_count}}</strong> visits
                <br>
                <small>Last: <strong>xx/yy/zz</strong></small>
              {{else}}
                No visits yet
              {{/if}}
            {{/stats}}
          </td>
          <td class="providers">
            {{#each providers}}
            <i class="icon-{{.}}"></i>
            {{/each}}
          </td>
          <td>
            <a data-hull-id="{{id}}" data-hull-action="selectUser" href="#">details</a>
          </td>
        </tr>
      {{/each}}
    {{else}}
    <tr>
      <td colspan="6">
        <p class="muted text-center">There is no user that match your criteria</p>
      </td>
    </tr>
    {{/if}}
  </tbody>
</table>

{{#if showPagination}}
  <nav class="pagination clear">
    {{#if showPreviousButton}}
    <button data-hull-action='previousPage' class="btn ladda-button" data-spinner-color="#333" data-style="expand-left">
      <span class="ladda-label">← Previous</span>
    </button>
    {{/if}}
    {{#if showNextButton}}
    <button data-hull-action='nextPage' class="btn ladda-button pull-right" data-spinner-color="#333" data-style="expand-right">
      <span class="ladda-label">Next →</span>
    </button>
    {{/if}}
  </nav>
{{/if}}
