<ul class="nav nav-tabs nav-stacked list list-user">
  {{#users}}
    <li>
      <a href="#" data-hull-action="selectUser" data-hull-id="{{user.id}}">
          <div class="media">
            {{#user}}
              {{#if picture}}
                <div class="pull-left">
                  <img src="{{picture}}" width="50" height="50"/>
                </div>
              {{/if}}
            {{/user}}
            <div class="media-body">
              {{#user}}
                <h5 class="media-heading">
                  <span class="name">{{name}}</span>
                  {{#if email}} <small class="email">{{email}}</small> {{/if}}
                </h5>

                <span class="hidden created-at">{{fromNow created_at}}</span>

                <ul class="unstyled">
                  <li><strong>Created: </strong>{{fromNow created_at}}</li>
                  {{#if identities}}
                    <li class="provider"><strong>Provider: </strong>
                      {{#identities}}
                        <i class="icon-{{type}}"></i> {{humanize type}}
                      {{/identities}}
                    </li>
                  {{/identities}}
                  <li class="sign-in-count"><strong>Sign in count: </strong>{{stats.sign_in_count}}</li>
                </ul>
              {{/user}}

            </div>
          </div>
          <i class="icon-chevron-right"></i>
    </li>
  {{/users}}
</ul>
