<div class="hull-registration">
  <form id={{formId}}>
    <fieldset>
      {{#each fields}}
        <div class="hull-form-field hull-form-field--{{type}}">
          {{#ifEqual type "text"}}
            <label for="hull-form-{{name}}">{{label}}</label>
            <input
              type="{{type}}"
              id="hull-form-{{name}}"
              name="{{name}}"
              value="{{value}}"
              placeholder="{{placeholder}}"
              {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}}
              {{#if pattern}}pattern="{{pattern}}"{{/if}}
              {{#if required}}required{{/if}}
              {{#if error}}data-error-message="{{error}}"{{/if}}
            />
          {{/ifEqual}}

          {{#ifEqual type "email"}}
            <label for="hull-form-{{name}}">{{label}}</label>
            <input
              type="{{type}}"
              id="hull-form-{{name}}"
              data-hull-input="{{name}}"
              name="{{name}}"
              value="{{value}}"
              placeholder="{{placeholder}}"
              {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}}
              {{#if pattern}}pattern="{{pattern}}"{{/if}}
              {{#if required}}required{{/if}}
              {{#if error}}data-error-message="{{error}}"{{/if}}
            />
          {{/ifEqual}}

          {{#ifEqual type "url"}}
            <label for="hull-form-{{name}}">{{label}}</label>
            <input
              type="{{type}}"
              id="hull-form-{{name}}"
              data-hull-input="{{name}}"
              name="{{name}}"
              value="{{value}}"
              placeholder="{{placeholder}}"
              {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}}
              {{#if pattern}}pattern="{{pattern}}"{{/if}}
              {{#if required}}required{{/if}}
              {{#if error}}data-error-message="{{error}}"{{/if}}
            />
          {{/ifEqual}}

          {{#ifEqual type "tel"}}
            <label for="hull-form-{{name}}">{{label}}</label>
            <input
              type="{{type}}"
              id="hull-form-{{name}}"
              data-hull-input="{{name}}"
              name="{{name}}"
              value="{{value}}"
              placeholder="{{placeholder}}"
              {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}}
              {{#if pattern}}pattern="{{pattern}}"{{/if}}
              {{#if required}}required{{/if}}
              {{#if error}}data-error-message="{{error}}"{{/if}}
            />
          {{/ifEqual}}

          {{#ifEqual type "select"}}
            <label for="hull-form-{{name}}">{{label}}</label>
            <select
            type="{{type}}"
            id="hull-form-{{name}}"
            data-hull-input="{{name}}"
            name="{{name}}"
            {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}}
            {{#if pattern}}pattern="{{pattern}}"{{/if}}
            {{#if required}}required{{/if}}
            {{#if error}}data-error-message="{{error}}"{{/if}}>
              {{#options}}
                <option
                  label="{{label}}"
                  value="{{value}}"
                  {{#ifEqual ../value value}}selected{{/ifEqual}}
                >{{value}}</option>
              {{/options}}
            </select>
          {{/ifEqual}}

          {{#ifEqual type "checkbox"}}
            <label class="checkbox">
              <input
                type="{{type}}"
                id="hull-form-{{name}}"
                data-hull-input="{{name}}"
                name="{{name}}"
                {{#if value}}checked{{/if}}
                placeholder="{{placeholder}}"
                {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}}
                {{#if pattern}}pattern="{{pattern}}"{{/if}}
                {{#if required}}required{{/if}}
                {{#if error}}data-error-message="{{error}}"{{/if}}
              />
              {{checkboxLabel}}
            </label>
          {{/ifEqual}}
        </div>

        <p id="hull-form-{{name}}-error"></p>
      {{/each}}

      <input type="submit" data-hull-action="submit" class="btn btn-primary" value="Register" />
    </fieldset>
  </form>
</div>
