
<div class="hull-registration">

  <form class="hull-form hull-registration__form">

    <ul class="hull-form__fields">
      {{#fields}}
        <li class="field {{name}}">
            <label for="{{name}}" class="hull-form__label">{{label}}</label>

            {{#ifEqual type "text"}}

                <input
                  class="hull-form__text-input {{type}} h5-{{name}}"
                  type="{{type}}"
                  id="{{name}}"
                  name="{{name}}"
                  value="{{value}}"
                  placeholder="{{placeholder}}"
                  {{#pattern}}pattern="{{pattern}}"{{/pattern}}
                  {{#required}}required{{/required}}

                  data-h5-errorid="{{name}}_error"
                />

            {{/ifEqual}}

            {{#ifEqual type "checkbox"}}
                <input
                  class="{{type}} h5-{{name}}"
                  type="{{type}}"
                  id="{{name}}"
                  name="{{name}}"
                  {{#ifEqual value "true"}}checked{{/ifEqual}}
                  placeholder="{{placeholder}}"
                  {{#required}}required{{/required}}
                  data-h5-errorid="{{name}}_error"
                />

            {{/ifEqual}}

            {{#ifEqual type "select"}}
                <select
                class="hull-form__select {{type}} h5-{{name}}"
                type="{{type}}"
                id="{{name}}"
                name="{{name}}"
                {{#required}}required{{/required}}
                data-h5-errorid="{{name}}_error">
                  {{#options}}
                      <option
                        label="{{label}}"
                        value="{{value}}"
                        {{#ifEqual ../value value}}selected{{/ifEqual}}
                      >{{value}}</option>
                  {{/options}}
                </select>
            {{/ifEqual}}

            <div id="{{name}}_error" class="hull-form__error" for="{{name}}">{{error}}</div>
        </li>

        {{/fields}}

      <li>
        <input type="submit" data-hull-action="submit" class="hull-btn hull-btn--primary" value="Register" />
      </li>

    </ul>
  </form>
</div>
