{{> ratings/review/form}}

{{#if reviews}}
  <ul class="media-list hull-reviews__list">
    {{#reviews}}
      <li class="media" data-hull-review-id="{{id}}">
        <div class="pull-left">
          <img class="media-object img-rounded" src="{{user.picture}}" alt="{{user.name}}" width="50" height="50">
        </div>
        <div class="media-body">
          <div class="pull-right">

          </div>
          <h4 class="media-heading">
            <span class="pull-right badge">{{rating}}</span>
            {{user.name}}
            •
            <small class="muted">{{fromNow updated_at}}</small>
          </h4>
          <div class="hull-reviews__description">
            {{description}}
          </div>
          <div class="hull-reviews__actions">
              {{#ifEqual ../me.id user.id}}
                <small>
                  <a href="#" class='link' data-hull-action="delete" data-hull-id="{{id}}">Delete</a>
                </small>
              {{/ifEqual}}
          </div>
        </div>
      </li>
    {{/reviews}}
  </ul>
{{/if}}

{{^reviews}}
  <div class="alert alert-info">
    No reviews for the moment
  </div>
{{/reviews}}
